.scoreItemCont {
  overflow-x: scroll;
}

.scoreItemTop {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1.5fr 1fr 1fr;
  margin: 2rem;
  color: white;
  background-color: #111827;
}

@media (max-width: 500px) {
  .scoreItemTop {
    display: grid;
    grid-auto-flow: column;
    font-size: 1rem;
    height: 3rem;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem;
    background-color: #111827;
    color: white;
  }
}
