.teams__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamsList {
  display: flex;
  flex-flow: row wrap;
  /* border: 1px solid black; */
  justify-content: center;

  /* padding-left: 5rem; */
}
