.matchHeader {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr;
  padding: 1rem 1rem;
  background-color: #111827;
  color: white;
}

.selectCont {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.selectDiv {
  width: 3rem;
}
